
.item {
    color: black;
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 25px;
}
.header,
.footer {
    background:linear-gradient(50deg,red,yellow,green);
}
.sidebar{
    background: linear-gradient(180deg,blue,white);
}
.content-1,
.content-2,
.content-3 {
    background: radial-gradient(circle,red,green);
}
