.grid-container {
    display: grid;
    background-color: yellow;
    color: white;
    width: 100%;
    grid-template-columns: 150px 1fr 4fr 5fr 2fr;
}
.grid-item {
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 25px;
    font-size: 25px;
    text-align: center;
}