* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: black;
  background-color: aqua;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu {
  /* border: 1px solid red; */
  display: flex;
  width: 900px;
  justify-content: space-around;
}
.group {
  display: flex;
  justify-content: flex-end;
}
.Login {
  margin-left: 20px;
}
.item1 {
  background-color: blueviolet;
  padding: 20px;
  font-size: 30px;
}
.item2 {
  background-color: orangered;
  padding: 20px;
  font-size: 30px;
}
.header-container {
    color: black;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
